<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand brand-color" href="">
        Stein <i class="fa fa-hand-rock-o"></i> - 
        Papier <i class="fa fa-hand-paper-o"></i> - 
        Schere <i class="fa fa-hand-scissors-o"></i>
    </a>
    <!--<ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active brand-color" href="#"><i class="fa fa-info-circle"></i> Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link brand-color" href="#"><i class="fa fa-play-circle"></i> Spielen</a>
        </li>
    </ul>-->
</nav>