<div class="container d-flex bg-light pg-height justify-content-center align-items-center">
    <div class="row">
        <div class="d-flex flex-column">
            <div>
                <h4>Was ist Stein-Papier-Schere?</h4>
            </div>
            <div>
                <img src="./assets/images/Rock-paper-scissors_de.svg.png" width="300" height="300" class="mg-bild" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="text-justify">
            Stein-Papier-Schere ist ein sowohl bei Kindern als auch Erwachsenen beliebtes und weltweit verbreitetes Spiel. Zwei Spieler wählen je eins der drei möglichen Symbole Schere, Stein oder Papier und zeigen dieses dann auf ein Kommando gleichzeitig (schlagartig)
            mit Hilfe einer ihrer Hände an. Da jedes Symbol gegen ein anderes gewinnen oder verlieren kann, steht immer einer der Spieler als Gewinner fest. Zu Unentschieden kommt es, wenn beide Spieler dasselbe Symbol wählen. Das Spiel wird in diesem
            Fall wiederholt.
        </p>
        <p>Hier Sie können gegen Computer spielen.</p>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="row">
        <a class="btn btn-danger text-white" href="#" role="button"><i class="fa fa-play-circle"></i> Jetzt Spielen</a>
        <a class="btn btn-primary text-white" href="https://de.wikipedia.org/wiki/Schere,_Stein,_Papier" role="button" target="_blank" style="margin-left: 20px;"><i class="fa fa-info-circle"></i> weitere Info</a>
    </div>
</div>